:root {
    --color: #3c3535;
  }
  
  .contacts_page {
    background: linear-gradient(var(--color), grey);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contact_wrapper {
    
    display: flex;
    background: #333;
    padding: 40px 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    position: relative;
    width: 700px;
 
  }
  
  .contact_info {
    position: relative;
    border-radius: 10px;
    width: 300px;
    background: var(--color);
    color: #f6f6f6;
    margin-left: -22%;
    padding: 25px;
    box-shadow: 0 0 1px 2px lightgrey;
  }
  
  .contact_info .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .contact_info .icon {
    display: flex;
    padding: 10px 0;
  }
  
  .contact_info .icon i {
    font-size: 20px;
  }
  
  .contact_info .text {
    padding-left: 10px;
    font-size: 18px;
  }
  
  .contact_info .soci_wrap {
    /* height: 90px; */
    display: flex;
    align-items: flex-end;
  }
  
  .contact_info .soci_wrap i {
    color: #fff;
    font-size: 25px;
    padding-right: 10px;
  }
  
  .contact_info .soci_wrap i:hover {
    color: grey;
  }
  
  .contact_wrapper .contact_msg {
    width: 75%;
    padding: 25px 30px;
    padding-bottom: 0px;
  }
  
  .contact_msg .title {
    font-size: 24px;
    margin: 0px;
    font-weight: 400;
    margin-bottom: 30px;
    padding: 0 15px;
    color: white;
  }
  
  .contact_msg .form_fild {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .form_fild .input_group {
    position: relative;
    margin-bottom: 25px;
    padding: 0 15px;
  }
  
  .form_fild .w_50 {
    width: 50%;
  }
  
  .form_fild .w_100 {
    width: 100%;
  }
  
  .form_fild .input_group .input {
    width: 100%;
    min-height: 30px;
    padding: 5px 0px;
    border: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    outline: none;
    font-weight: 400;
    border-bottom: solid 2px #e9e9e9;
  }
  
  .form_fild .input_group .input_textarea {
    width: 100%;
    height: 75px;
  }
  
  .form_fild .input_group .input:focus {
    border-bottom-color: #aaa;
  }
  
  .input_group .input:valid~.placeholder,
  .input_group .input:focus~.placeholder {
    top: -50px;
    font-size: 12px !important;
    color: white;
  }
  
  .input_group .input:valid~.placeholder.textarea,
  .input_group .input:focus~.placeholder.textarea {
    top: -12px;
  }
  
  .input_group .placeholder {
    position: absolute;
    left: 15px;
    top: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #908a8a;
    font-weight: 400;
    transition: all 0.3s ease;
    pointer-events: none;
  }
  
  .input_group .textarea {
    align-items: baseline;
  }
  
  .input_group .btn {
    padding: 12px;
    border: none;
    border-radius: 0px;
    background-color: black;
    color: white;
    border: 3px solid var(--color);
    min-width: 120px;
    outline: none;
    transition: all 0.3s ease;
    border-radius: 10px;
  }
  
  .input_group .btn:hover {
    background: #fff;
    color: var(--color);
  }
  
  
  
  @media(max-width: 1023px) {
    .soci_wrap{
      height: unset;
    }
    .contact_info .icons-text,.contact_info .title{
      display: none;
    }
  
    .contact_wrapper {
      width: 80%;
      flex-direction: column;
    }
    
    .contact_wrapper .contact_info {
      position: absolute;
      width: 100%;
      margin-left: -50px;
      margin-top: -15px;
      margin-bottom: 20px;
      /* here */
    }
  
    .contact_wrapper .contact_msg {
      width: 100%;
    }
  }
  
  @media(max-width: 768px) {
    body {
      align-items: baseline;
    }
  
    .contact_wrapper {
      width: 90%;
      padding: 0;
      /* position: absolute; */
    }
    
    .contact_wrapper .contact_info {
    
      width: 100%;
      margin-left: 0;
    }
  
    .form_fild .w_50 {
      width: 100%;
    }
  }